@import "../details/mixin";

@media screen and (max-width: 900px) {
  /*barre de navigation*/
  .navbar {
    gap: 3em;

    .logo {
      width: 40%;
    }

    .navigation {
      gap: 2em;

      .link {
        font-size: 1.2em;
      }
    }
  }

  .cardsContainer {
    @include flexCCC;
    background: #ffffff;

    article,
    .card {
      width: 100%;
    }
  }

  .footer {
    @include flexCCC;
    height: 300px;
    margin: 0 -2em -1em -2em;

    .footerLogo {
      width: 22%;
    }

    .footerCopyRights {
      width: 160px;
      font-size: 1.1em;
      text-wrap: wrap;
    }
  }

  /****Page 404****/
  .errorPageContainer {
    img {
      width: 50%;
    }
    p {
      font-size: 2em;
      text-wrap: wrap;
      padding: 3em 6em;
    }
  }

  /*****fiche logement******/
  .infoHeader,
  .details {
    flex-direction: column;
    gap: 0 !important;
  }

  .infoHeader {
    .titleContent {
      gap: 1em;

      .titles {
        h1 {
          padding-bottom: 0.2em;
          font-size: 2.8em !important;
          line-height: 55.34px !important;
        }

        p {
          font-size: 28px !important;
        }
      }

      .tags {
        width: 100%;
      }
    }

    .userContent {
      flex-direction: row-reverse !important;
      justify-content: space-between !important;
      align-items: center !important;

      .userPic {
        width: 24% !important;
      }

      .rating {
        // height: 100%;
        justify-content: flex-start !important;
        // align-items: flex-end!important;
      }
    }
  }

  .details {
    flex-direction: column !important;
    gap: 2em !important;

    .collapseContent {
      width: 100%;
    }
  }
}
