@import '../details/mixin';

.banner {
    position: relative;
    min-height: 180px;
    height: 230px;
    border-radius: 25px;
    width: 100%;
    min-width: 516px;
    display: grid;
    place-items: center;
    background-image: url('/src/assets/images/banner/Image1.png');
    background-position: right;
    background-size: cover;

    &::before {
        position: absolute;
        border-radius: 25px;
        content: "";
        inset: 0;
        background-color: rgba(0,0,0,0.6);
    }

    .bannerText {
        z-index: 1;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 2em;
        color: #FFFFFF;
    }

}