@import '../details/mixin';

.projects-section h1,
.card {
    @include glassEffect;
}

.projects-section {
    @include flexCCC;

    h1 {
        font-size: 2em;
    }

    .cardsContainer {
        @include flexSaC;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 0.5em;
        row-gap: 3em;
        box-sizing: border-box;
        width: 80%;
        background: transparent;
        border-radius: 15px;
        padding: 1.5em 1em;

        article {
            width: 27%;
            max-width: 200px;
            height: 80px;

            .cardLink {
                display: flex;
                width: 100%;
                border-radius: 10px;

                .card {
                    overflow: hidden;
                    width: 100%;
                    @include flexcc;

                    .cardImg {
                        height: 72px;
                        object-fit: fill;
                        border-radius: 10px;
                        width: 180px;
                        // box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.15);
                    }
                }
            }
        }
    }
}