@import "../details/mixin";

.footer {
    @include flexEndC;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background: #fff;

    .footerLogo {
        width: 100px;
    }

    .footerCopyRights {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 1em;
        text-align: center;
        color: #000;
    }
}