@import '../details/mixin';

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    .logo {
        width: 15%;
        position: relative;
        top: 1em;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 3.5em;
        @include glassEffect;

        .link {
            @include flexcc;
            // @include glassEffect;

            &:active {
                @include blackUnderline;
            }

            &:hover {
                @include blackUnderline;
            }

            div {
                color: #fff;
                font-family: "DM Serif Display", serif !important;
                font-weight: 500;
                text-wrap: nowrap;
                font-size: 2em;
            }
        }
    }


    nav a.active {
        @include blackUnderline;
    }

}