@import '../details/mixin';

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0 0 0;

    .logo {
        width: 15%;
        padding-left: 5em;
        position: relative;
        top: 1em;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 3.5em;
        padding-right: 5em;

        .link {
            @include flexcc;

            &:active {
                @include blackUnderline;
            }

            &:hover {
                @include blackUnderline;
            }

            div {
                color: #000000;
                font-family: "DM Serif Display", serif !important;
                font-weight: 400;
                text-wrap: nowrap;
                padding: 1em 0 0 0;
                font-size: 1.5em;
            }
        }
    }


    nav a.active {
        @include blackUnderline;
    }

}