@import "../details/mixin";

.slideshow {
    width: 70%;
    z-index: 0;
}

.infoBanner {
    @include flexCCC;
    height: 400px;
    position: relative;
    border-radius: 25px;
    width: 100%;

    img {
        position: absolute;
        object-fit: contain;
        height: 100%;
        border-radius: 25px;
        z-index: -1;
        object-position: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.currentImg {
            opacity: 1;
        }
    }

    .arrow {
        position: absolute;
        color: #000;
        font-size: 3.5em;
        border: none;
        cursor: pointer;
        z-index: 3;
        background: transparent;
    }

    .arrowLeft {
        left: 0;
    }

    .arrowRight {
        right: 0;
    }

    .imgCount {
        font-weight: 500;
        font-size: 1.5em;
        color: #000;
        position: absolute;
        bottom: -40px;
    }

}