@import "../details/mixin";
// import banner2 from "../assets/images/banner/banner2.png"

.aboutContent {
  @include flexColumn;
  width: 90%;

  .banner {
    background-image: url("/src/assets/images/banner/Image2.png");
    width: 100%;

    h1 {
      color: transparent;
    }
  }

  .collapses {
    max-width: 1000px;
    @include flexCCC;
    gap: 2em;

    .collapseContent {
      width: 100%;
    }
  }
}
