@keyframes slideOut {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

// loader letters
@keyframes waiting {
    0% {
        color: #592B25;
        text-shadow: 0 0 7px #592B25;
    }

    90% {
        color: whitesmoke;
        text-shadow: none;
    }

    100% {
        color: #592B25;
        text-shadow: 0 0 7px #592B25;
    }
}

@keyframes loading {
    0% {
        opacity: 1;
        z-index: 2;
    }

    90% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: 1;

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        opacity: 0;
        transform: translateY(-100%);
        // height: 0%;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
        // height: 265px;
    }
}