@import "../details/mixin";

@media screen and (max-width: 900px) {

  /*barre de navigation*/
  .navbar {
    gap: 3em;

    .logo {
      width: 40%;
    }
  }

}

.cardsContainer {
  @include flexCCC;
  background: #ffffff;

  article,
  .card {
    width: 100%;

    .cardImg {
      height: 60px !important;
    }
  }
}

.slider {
  display: none !important;
}

.skills-slider {
  display: flex !important;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;

  .slides-container {
    overflow: hidden;
    width: 80%;
  }

  .slides {
    @include flexcc;
    transition: transform 0.5s ease-in-out;
    gap: 1em;
  }

  .slide {
    @include flexCCC;
    text-align: center;
    @include glassEffect;

    .tool-icon {
      width: 50px; // Taille des icônes
      height: 50px;
      margin-bottom: 10px;
    }

    .tool-name {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;

    &.prev {
      left: 50px;
    }

    &.next {
      right: 50px;
    }
  }
}

.footer {
  @include flexCCC;
  height: 210px;
  margin: 0 -2em -1em -2em;

  .footerLogo {
    width: 22%;
  }

  .footerCopyRights {
    width: 160px;
    font-size: 1.1em;
    text-wrap: wrap;
  }
}

@media screen and (max-width: 700px) {
  .mobVbox {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    max-height: 160px;

    .mobV {
      border-radius: 10px !important;
      @include flexCCC;
      gap: 1em;
      z-index: 1;

      button {
        width: 100px;
        height: 100px;

        .fa-bars {
          font-size: 5em;
          color: #a59b8d;
        }
      }

      .mobNav {
        @include flexCCC;
        gap: 1em;
      }
    }
  }
}