@import "../details/mixin";

@media screen and (max-width: 950px) {

  /*barre de navigation*/
  .navbar {
    gap: 3em;

    .logo {
      width: 40%;
    }
  }
}


@media screen and (max-width: 700px) {
  .mobVbox {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    max-height: 160px;

    .mobV {
      border-radius: 10px !important;
      @include flexCCC;
      gap: 1em;
      z-index: 1;

      button {
        width: 100px;
        height: 100px;

        .fa-bars {
          font-size: 5em;
          color: #a59b8d;
        }
      }

      .mobNav {
        @include flexCCC;
        gap: 1em;
      }
    }
  }

  .skills-slider .slides-container {
    width: 50%;
  }
}