@import "../details/mixin";
@import '../keyframes/keyframes';

@media screen and (max-width: 900px) {
  body {
    min-width: 380px;
  }

  .index {
    z-index: 0;
  }

  /*barre de navigation*/
  .navbar {
    gap: 3em;

    .logo {
      width: 40%;
      padding: .5em;
    }
  }

  /*menu responsive*/
  .mobVbox {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 160px;
    padding: 1em 0;

    .logo {
      padding-left: 1.5em;

      img {
        height: 70px;
      }
    }

    .mobV,
    .logo {
      @include flexCCC;
      max-width: 250px;
      // transition: translateX();
      // animation: slideOut 0.5s ease-in-out;
    }

    .mobV {
      border-radius: 10px !important;
      gap: 1em;
      margin-right: 1.5em;
      background: rgb(240, 240, 240);
      z-index: 1;
      position: fixed;
      top: 15px;
      right: 0;
      transition: all 2s;
      animation-delay: 1s;

      button {
        width: 80px;
        height: 70px;

        &:active .mobV .link div {
          padding: 2em;
        }

        .fa-bars {
          font-size: 5em;
          color: #a59b8d;
        }
      }

      .mobNav {
        @include flexCCC;
        gap: 1em;
        transition: all 2s;
        height: 0%;
        animation: slideOut 0.5s ease-in-out;

        a div {
          padding: 0;
        }
      }
    }
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 120px 120px 120px;
    gap: 1em;
    justify-content: center;

    article {
      width: 100% !important;
    }
  }

  .tools-container {
    grid-template-columns: 130px 130px 130px !important;
    overflow-x: scroll;
  }

  #contact_form article {
    @include flexCCC;

    .formInfo,
    form {
      min-width: 315px;
      width: 80%;
    }

    .formInfo {
      align-self: center !important;
    }
  }
}


@media screen and (max-width: 700px) {

  .tools-container {
    grid-template-columns: 130px 130px !important;
    grid-template-rows: 130px 130px !important;
  }

}

@media screen and (max-width: 620px) {}