@import '../details/mixin';
@import '../keyframes/keyframes';

* {
    text-decoration: none;
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

html {
    width: 100%;
}

#root {
    @include flexcc;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    width: 100%;
    height: 100%;
}

section {
    min-height: 100vh !important;
    background: linear-gradient(28deg, #6d4747, transparent);
    box-sizing: border-box;
}

.element {
    opacity: 0; // L'élément est invisible par défaut
    transform: translateX(100px);
    transition: opacity 0.5s ease, transform 0.5s ease; // Transition pour l'opacité et le déplacement


    &.visible {
        opacity: 1; // Devenient visible quand l'élément entre dans la vue
        transform: translateX(0); // Réinitialisation de la position après le défilement
    }
}

.skills-container {
    width: 100%;
}

@import '../layouts/Navbar';
@import '../layouts/cards';
@import '../layouts/footer';
@import '../partials/about';
@import '../partials/contact';
@import '../layouts/modal';
@import '../partials/home';
@import '../layouts/slider';
@import '../layouts/network';
@import '../partials/loader';
@import '../media/media';