@import "../details/mixin";

.about-container,
.course-content .block,
.languages,
.mentor {
    @include flexCCC;
}

.about-container {

    .about-content {
        width: 90%;
    }

    p,
    li {
        font-size: 1.2em;
        text-align: center;
    }

    .block {
        margin-bottom: 1em;
    }

    .mentor {
        opacity: .9;

        h2,
        p {
            color: #fff;
        }

        p {
            font-style: italic;
            width: 90%;
            font-weight: 500;
        }
    }

    .langs {
        padding-inline-start: 0;
    }

    .languages li {
        list-style: none;
    }
}