@import "../details/mixin";

fieldset,
form {
    @include flexColumn;

}

#contact_form h2,
#contact_form p,
#contact_form form,
.formInfo h3 {
    @include glassEffect;
}

#contact_form,
.formInfo {
    @include flexCCC;
}

#contact_form {
    gap: 1em;

    h2 {
        width: 165px;
    }

    article {
        @include flexRowSA;

        .formInfo,
        form {
            width: 45%;
        }

        .formInfo {
            height: 100%;
            align-self: start;

            p {
                font-size: 1.5em;
                width: 245px;
            }

            h3 {
                font-size: 2em;
                text-align: center;
            }
        }

        form {
            @include glassEffect;

            fieldset {
                border: none;
                gap: .5em;

                label {
                    font-size: 1.2em;
                }

                input {
                    height: 30px;
                    width: 100%;
                    border-radius: 10px;
                }

                .text {
                    height: 150px;
                    width: 100%;
                    border-radius: 10px;
                    font-size: 1.5em;
                    overflow: scroll;
                }
            }

            button {
                height: 40px;
                width: 130px;
                font-size: 1.2em;
                border-radius: 10px;
                background: #c36d7d;
                justify-self: center;
                margin: 1em .8em;
            }
        }
    }
}