@import '../details/mixin';
@import '../keyframes/keyframes';

//msg explicatif
.msg {
    position: fixed;
    bottom: 15px;
    border: 1px solid red;
    width: 80%;
    font-size: 1.5em;
    font-weight: 500;
    z-index: 1;
}

.top,
.mentor {
    background-image: url('https://images.unsplash.com/photo-1488875482628-eee706cbfad5?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top {
    @include flexcc;
    min-width: 203px;
    margin-top: 2em;

    .intro {
        width: 80%;
        font-size: 2.5em;
        font-weight: 600;
        margin-bottom: 0;
        text-align: center;
        color: #fff;
        opacity: 0.8;
    }
}

.skillsBox {
    @include flexCCC;
    gap: 1.5em;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

    h1 {
        font-size: 2em;
    }

    .tools-container {
        display: grid;
        grid-template-columns: 130px 130px 130px 130px;
        grid-template-rows: 130px 130px 130px 130px;
        gap: 4em;
        justify-content: center;
        align-items: center;
        width: 80%;

        .tool {
            text-align: center;
            transition: all 1s ease-in-out;
            transition: transform 1s;

            &:hover {
                transform: scale(1.15);
            }

            .tool-icon {
                width: 70px;
                height: 70px;
                margin-bottom: 10px;
                transition: transform 1s;
                transform-origin: center;

                &:hover {
                    transform: rotate3d(1, 1, 0, 360deg);
                    /* Rotation 3D complète sur X et Y */
                }
            }

            .tool-name {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
}

.goUpArrow {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: rgb(240, 240, 240);
    z-index: 1;
    border-radius: 7px;

    i {
        font-size: 2.5em;
        padding: .2em .3em;
    }
}