@import "../details/mixin";

.skills {
    @include flexCCC;
    gap: 1.5em;
    width: 100%;

    h1 {
        font-size: 2em;
    }
}

.top {
    @include flexcc;
    margin-top: 2em;

    .intro {
        width: 80%;
        @include glassEffect;
        font-size: 1.5em;
        text-align: center;
    }
}