@import '../keyframes/keyframes';
@import '../details/variables';
@import '../details/mixin';

.loader {
    position: fixed;
    inset: 0;
    background-color: #000000db;
    @include flexCCC;
    opacity: 0;
    z-index: -1;
    animation: loading 5s linear;
    // width: 100%;

    .container {
        @include flexCCC;
        gap: 1rem;
        text-align: center;
        width: 50%;
    }

    .word {
        display: flex;
        justify-content: center;
        gap: 0.2rem;
        transform: translateY(-20px);
        animation: fadeIn 4s ease-in-out forwards;

        @for $i from 1 through $num-elem2 {
            &-#{$i} {
                animation-delay: $anim-delay2 * $i;
            }
        }

        .letter {
            color: white;
            font-size: 4em;
            letter-spacing: 0.1em;
            opacity: 0;
            animation: loading 6s linear;
        }
    }
}