* {
  text-decoration: none;
}

a {
  cursor: pointer;
}

html {
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1705872599046-70e2eee1e838?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  width: 100%;
}

.skills-container {
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
header .logo {
  width: 15%;
}
header nav {
  display: flex;
  justify-content: space-between;
  gap: 3.5em;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 0.5em;
}
header nav .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .link:active {
  text-decoration: underline;
  color: #000;
}
header nav .link:hover {
  text-decoration: underline;
  color: #000;
  color: #000;
}
header nav .link div {
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  text-wrap: nowrap;
  font-size: 2em;
}
header nav a.active {
  text-decoration: underline;
  color: #000;
}

.projects-section h1,
.card {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 0.5em;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-section h1 {
  margin-top: 0;
  font-size: 2em;
}
.projects-section .cardsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  row-gap: 3em;
  box-sizing: border-box;
  width: 80%;
  background: transparent;
  border-radius: 15px;
  padding: 1.5em 1em;
}
.projects-section .cardsContainer article {
  width: 27%;
  max-width: 200px;
  height: 80px;
}
.projects-section .cardsContainer article .cardLink {
  display: flex;
  width: 100%;
  border-radius: 10px;
}
.projects-section .cardsContainer article .cardLink .card {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-section .cardsContainer article .cardLink .card .cardImg {
  height: 62px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 10px;
  width: 180px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #fff;
}
.footer .footerCopyRights {
  font-weight: 500;
  text-align: center;
  color: #000;
  width: 160px;
  font-size: 1.1em;
  text-wrap: wrap;
}

.mydata,
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages,
.about-main, .course-content, .course-content .block, .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content,
.course-content,
.languages {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 0.5em;
}

.about-main .about-container {
  gap: 2em;
  padding-top: 2em;
}
.about-main .about-container .about-content {
  width: 80%;
  text-align: center;
}
.about-main .about-container .about-content p {
  font-size: 2em;
}
.about-main .about-container .course-content {
  font-size: 1.5em;
  gap: 1.5em;
}
.about-main .about-container .languages {
  width: 70%;
}
.about-main .about-container .languages .list {
  font-size: 1.5em;
}
.about-main .about-container .list {
  list-style: none;
  gap: 1.5em;
  flex-wrap: wrap;
  font-size: 1.2em;
}
.about-main .about-container .mydata {
  width: 100%;
}

fieldset,
form {
  display: flex;
  flex-direction: column;
}

#contact_form h2,
#contact_form p,
#contact_form form,
.formInfo h3 {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 0.5em;
}

#contact_form,
.formInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact_form {
  gap: 1em;
}
#contact_form h2 {
  width: 165px;
}
#contact_form article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#contact_form article .formInfo,
#contact_form article form {
  width: 45%;
}
#contact_form article .formInfo {
  height: 100%;
  align-self: start;
}
#contact_form article .formInfo p {
  font-size: 1.5em;
  width: 245px;
}
#contact_form article .formInfo h3 {
  font-size: 2em;
  text-align: center;
}
#contact_form article form {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 0.5em;
}
#contact_form article form fieldset {
  border: none;
  gap: 0.5em;
}
#contact_form article form fieldset label {
  font-size: 1.2em;
}
#contact_form article form fieldset input {
  height: 30px;
  width: 100%;
  border-radius: 10px;
}
#contact_form article form fieldset .text {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  font-size: 1.5em;
  overflow: scroll;
}
#contact_form article form button {
  height: 40px;
  width: 130px;
  font-size: 1.2em;
  border-radius: 10px;
  background: #c36d7d;
  justify-self: center;
  margin: 1em 0.8em;
}

.project-content,
.project-block,
.content,
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.project-content .info {
  width: 80%;
}
.project-content .info p {
  font-size: 1.5em;
  text-align: center;
}
.project-content .info .infoBanner {
  border: 2px solid #7d7c7c;
}
.project-content .info .tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 3em;
}
.project-content .info .tools img {
  width: 60px;
  height: 60px;
}
.project-content .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  padding-top: 2em;
}
.project-content .links button {
  width: 100px;
  height: 40px;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  background: transparent;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.skills-container h1 {
  font-size: 2em;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 203px;
  margin-top: 2em;
}
.top .intro {
  width: 80%;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0;
  text-align: center;
}

.slider {
  display: none !important;
}

.skills-slider {
  display: flex !important;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.skills-slider .slides-container {
  overflow: hidden;
  width: 80%;
}
.skills-slider .slides {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  gap: 1em;
}
.skills-slider .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 0.5em;
}
.skills-slider .slide .tool-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.skills-slider .slide .tool-name {
  font-size: 1rem;
  font-weight: bold;
}
.skills-slider .control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
}
.skills-slider .control.prev {
  left: 10px;
}
.skills-slider .control.next {
  right: 10px;
}

.infoBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoBanner {
  height: 359px;
  position: relative;
  border-radius: 25px;
  width: 440px;
}
.infoBanner img {
  position: absolute;
  max-height: 359px;
  border-radius: 25px;
  z-index: -1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.infoBanner img.currentImg {
  opacity: 1;
}
.infoBanner .arrow {
  position: absolute;
  -webkit-background-clip: text;
          background-clip: text;
  background: transparent;
  font-size: 3.5em;
  border: none;
  cursor: pointer;
  color: #7d7c7c;
}
.infoBanner .arrowLeft {
  left: -50px;
}
.infoBanner .arrowRight {
  right: -50px;
}
.infoBanner .imgCount {
  font-weight: 500;
  font-size: 1.5em;
  position: absolute;
  bottom: -40px;
  font-family: "Roboto", sans-serif;
}

.networkList,
.networkList li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.networkList li,
.networkList a {
  gap: 1em;
}

.networkList {
  gap: 1.5em;
  padding-inline-end: 40px;
  flex-wrap: wrap;
}
.networkList li {
  height: 38px;
  text-overflow: ellipsis;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 0.5em;
}
.networkList li a {
  color: #fff;
  display: flex;
  gap: 0.6em;
}
.networkList li img {
  width: 30px;
  color: #fff;
}

@keyframes slideOut {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes waiting {
  0% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
  90% {
    color: whitesmoke;
    text-shadow: none;
  }
  100% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
    z-index: 2;
  }
  90% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.loader {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8588235294);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
  animation: loading 4s linear;
  width: 100%;
}
.loader .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 50%;
}
.loader .word {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}
.loader .word-1 {
  animation-delay: 2s;
}
.loader .word-2 {
  animation-delay: 4s;
}
.loader .word-3 {
  animation-delay: 6s;
}
.loader .word .letter {
  color: white;
  font-size: 4em;
  letter-spacing: 0.1em;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 4s ease-in-out backwards;
}
.loader .word .letter-1 {
  animation-delay: 0.2941176471s;
}
.loader .word .letter-2 {
  animation-delay: 0.5882352941s;
}
.loader .word .letter-3 {
  animation-delay: 0.8823529412s;
}
.loader .word .letter-4 {
  animation-delay: 1.1764705882s;
}
.loader .word .letter-5 {
  animation-delay: 1.4705882353s;
}
.loader .word .letter-6 {
  animation-delay: 1.7647058824s;
}
.loader .word .letter-7 {
  animation-delay: 2.0588235294s;
}
.loader .word .letter-8 {
  animation-delay: 2.3529411765s;
}
.loader .word .letter-9 {
  animation-delay: 2.6470588235s;
}
.loader .word .letter-10 {
  animation-delay: 2.9411764706s;
}
.loader .word .letter-11 {
  animation-delay: 3.2352941176s;
}
.loader .word .letter-12 {
  animation-delay: 3.5294117647s;
}
.loader .word .letter-13 {
  animation-delay: 3.8235294118s;
}
.loader .word .letter-14 {
  animation-delay: 4.1176470588s;
}
.loader .word .letter-15 {
  animation-delay: 4.4117647059s;
}
.loader .word .letter-16 {
  animation-delay: 4.7058823529s;
}
.loader .word .letter-17 {
  animation-delay: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  90% {
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes waiting {
  0% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
  90% {
    color: whitesmoke;
    text-shadow: none;
  }
  100% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
    z-index: 2;
  }
  90% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media screen and (max-width: 900px) {
  body {
    min-width: 380px;
  }
  .index {
    z-index: 0;
  }
  /*barre de navigation*/
  .navbar {
    gap: 3em;
  }
  .navbar .logo {
    width: 40%;
  }
  /*menu responsive*/
  .mobVbox {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 160px;
    padding: 1em 0;
  }
  .mobVbox .logo {
    padding-left: 1.5em;
  }
  .mobVbox .logo img {
    height: 70px;
  }
  .mobVbox .mobV,
  .mobVbox .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
  }
  .mobVbox .mobV {
    border-radius: 10px !important;
    gap: 1em;
    margin-right: 1.5em;
    background: rgb(240, 240, 240);
    z-index: 1;
    position: fixed;
    top: 15px;
    right: 0;
    transition: all 2s;
    animation-delay: 1s;
  }
  .mobVbox .mobV button {
    width: 80px;
    height: 70px;
  }
  .mobVbox .mobV button:active .mobV .link div {
    padding: 2em;
  }
  .mobVbox .mobV button .fa-bars {
    font-size: 5em;
    color: #a59b8d;
  }
  .mobVbox .mobV .mobNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    transition: all 2s;
    height: 0%;
    animation: slideOut 0.5s ease-in-out;
  }
  .mobVbox .mobV .mobNav a div {
    padding: 0;
  }
  .cardsContainer {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 120px 120px 120px 120px 120px;
    gap: 1em;
    justify-content: center;
  }
  .cardsContainer article {
    width: 100% !important;
  }
  #contact_form article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact_form article .formInfo,
  #contact_form article form {
    min-width: 315px;
    width: 80%;
  }
  #contact_form article .formInfo {
    align-self: center !important;
  }
}
@media screen and (max-width: 700px) {
  .skills-slider .slides-container {
    width: 50%;
  }
}/*# sourceMappingURL=App.css.map */