@charset "UTF-8";
@keyframes waiting {
  0% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
  90% {
    color: whitesmoke;
    text-shadow: none;
  }
  100% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
}
/*loader*/
@keyframes loading {
  0% {
    opacity: 1;
    z-index: 2;
  }
  90% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
/*lettres loader*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*ouverture menu*/
@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*apparition elements des sections*/
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
/*ou apparition avec translateY*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Animation pour simuler la frappe du texte */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* Animation pour faire clignoter le curseur */
@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
* {
  text-decoration: none;
  font-family: "Roboto", sans-serif !important;
}

a {
  cursor: pointer;
}

html {
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  width: 100%;
}

section {
  height: 100vh !important;
  width: 100%;
  background: linear-gradient(28deg, #6d4747, transparent);
  box-sizing: border-box;
}

.element {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.element.visible {
  opacity: 1;
  transform: translateX(0);
}

.skills-container {
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
header .logo {
  width: 15%;
}
header nav {
  position: fixed;
  top: 75px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 3.5em;
  background: rgb(240, 240, 240) !important;
  background: linear-gradient(28deg, #6d4747, transparent);
  border-radius: 15px;
  padding: 0.5em;
}
header nav .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .link:hover {
  text-decoration: underline;
  color: #000;
  color: #000;
}
header nav .link div {
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  text-wrap: nowrap;
  font-size: 2em;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-section h1 {
  margin-top: 0;
  font-size: 2em;
}
.projects-section .cardsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  row-gap: 3em;
  box-sizing: border-box;
  width: 80%;
  background: transparent;
  border-radius: 15px;
  padding: 1.5em 1em;
}
.projects-section .cardsContainer article {
  width: 27%;
  max-width: 200px;
  height: 80px;
  transition: transform 1.5s;
}
.projects-section .cardsContainer article:hover {
  transform: scale(1.15);
}
.projects-section .cardsContainer article .cardLink {
  display: flex;
  width: 100%;
  border-radius: 10px;
}
.projects-section .cardsContainer article .cardLink .card {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-section .cardsContainer article .cardLink .card .cardImg {
  height: 60px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 10px;
  width: 185px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #fff;
}
.footer .footerCopyRights {
  font-weight: 500;
  text-align: center;
  color: #000;
  width: 160px;
  font-size: 1.1em;
  text-wrap: wrap;
}

.about-container,
.course-content .block,
.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container .about-content {
  width: 90%;
}
.about-container p,
.about-container li {
  font-size: 1.2em;
}
.about-container .block {
  margin-bottom: 1em;
}
.about-container .languages li {
  list-style: none;
}

fieldset,
form {
  display: flex;
  flex-direction: column;
}

#contact_form,
.formInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact_form {
  gap: 1em;
}
#contact_form h2 {
  width: 165px;
}
#contact_form article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#contact_form article .formInfo,
#contact_form article form {
  width: 45%;
}
#contact_form article .formInfo {
  height: 100%;
  display: flex;
}
#contact_form article .formInfo h3 {
  font-size: 2em;
  text-align: center;
}
#contact_form article form fieldset {
  border: none;
  gap: 0.5em;
}
#contact_form article form fieldset label {
  font-size: 1.2em;
}
#contact_form article form fieldset input {
  height: 30px;
  width: 100%;
  border-radius: 10px;
}
#contact_form article form fieldset .text {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  font-size: 1.5em;
  overflow: scroll;
}
#contact_form article form button {
  height: 40px;
  width: 130px;
  font-size: 1.2em;
  border-radius: 10px;
  background: #c36d7d;
  margin: 1em 0.8em;
  transition: all 1s;
}
#contact_form article form button:hover {
  transform: scale(1.15);
}

.ReactModal__Overlay--after-open {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ReactModal__Overlay--after-open .ReactModal__Content,
.ReactModal__Overlay--after-open .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ReactModal__Overlay--after-open .ReactModal__Content {
  width: 80%;
  background: rgb(237, 235, 234);
}
.ReactModal__Overlay--after-open .ReactModal__Content .modalTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.ReactModal__Overlay--after-open .ReactModal__Content .modalTop h1 {
  padding-left: 0.5em;
}
.ReactModal__Overlay--after-open .ReactModal__Content .modalTop i {
  font-size: 2.5em;
  padding: 0.5em;
}
.ReactModal__Overlay--after-open .ReactModal__Content .info,
.ReactModal__Overlay--after-open .ReactModal__Content .links {
  margin-bottom: 2em;
}
.ReactModal__Overlay--after-open .ReactModal__Content .info {
  gap: 3.5em;
}
.ReactModal__Overlay--after-open .ReactModal__Content .info p {
  width: 80%;
  font-size: 1.2em;
}
.ReactModal__Overlay--after-open .ReactModal__Content .info .tools {
  display: flex;
  gap: 1em;
}
.ReactModal__Overlay--after-open .ReactModal__Content .info .tools img {
  width: 65px;
  height: 65px;
}
.ReactModal__Overlay--after-open .ReactModal__Content .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.ReactModal__Overlay--after-open .ReactModal__Content .links .block {
  padding: 1em 1.2em;
  border-radius: 10px;
  background: #c36d7d;
}
.ReactModal__Overlay--after-open .ReactModal__Content .links .block a {
  color: #000;
  font-size: 1.2em;
}

@keyframes waiting {
  0% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
  90% {
    color: whitesmoke;
    text-shadow: none;
  }
  100% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
}
/*loader*/
@keyframes loading {
  0% {
    opacity: 1;
    z-index: 2;
  }
  90% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
/*lettres loader*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*ouverture menu*/
@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*apparition elements des sections*/
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
/*ou apparition avec translateY*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Animation pour simuler la frappe du texte */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* Animation pour faire clignoter le curseur */
@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.msg {
  position: fixed;
  bottom: 15px;
  border: 1px solid red;
  width: 80%;
  font-size: 1.5em;
  font-weight: 500;
  z-index: 1;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 203px;
  margin-top: 2em;
  background-image: url("https://images.unsplash.com/photo-1488875482628-eee706cbfad5?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  /* Pour que l'image couvre toute la section */
  background-position: bottom;
  /* Pour centrer l'image */
  background-repeat: no-repeat;
  /* Pour éviter la répétition de l'image */
}
.top .intro {
  width: 80%;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.skillsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.skillsBox h1 {
  font-size: 2em;
}
.skillsBox .tools-container {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-template-rows: 130px 130px 130px 130px;
  gap: 4em;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70vh;
}
.skillsBox .tools-container .tool {
  text-align: center;
  transition: all 1s ease-in-out;
  transition: transform 1s;
}
.skillsBox .tools-container .tool:hover {
  transform: scale(1.15);
}
.skillsBox .tools-container .tool .tool-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  transition: transform 1s;
  transform-origin: center;
}
.skillsBox .tools-container .tool .tool-icon:hover {
  transform: rotate3d(1, 1, 0, 360deg);
  /* Rotation 3D complète sur X et Y */
}
.skillsBox .tools-container .tool .tool-name {
  font-size: 1rem;
  font-weight: bold;
}

.goUpArrow {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1;
}
.goUpArrow i {
  font-size: 2.5em;
  padding: 0.2em 0.3em;
}

.slideshow {
  width: 70%;
  z-index: 0;
}

.infoBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  position: relative;
  border-radius: 25px;
  width: 100%;
}
.infoBanner img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  border-radius: 25px;
  z-index: -1;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.infoBanner img.currentImg {
  opacity: 1;
}
.infoBanner .arrow {
  position: absolute;
  color: #000;
  font-size: 3.5em;
  border: none;
  cursor: pointer;
  z-index: 3;
  background: transparent;
}
.infoBanner .arrowLeft {
  left: 0;
}
.infoBanner .arrowRight {
  right: 0;
}
.infoBanner .imgCount {
  font-weight: 500;
  font-size: 1.5em;
  color: #000;
  position: absolute;
  bottom: -40px;
}

.networkList,
.networkList li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.networkList li,
.networkList a {
  gap: 1em;
}

.networkList {
  gap: 1.5em;
  padding-inline-end: 40px;
  flex-wrap: wrap;
}
.networkList li {
  height: 38px;
  text-overflow: ellipsis;
  background: linear-gradient(28deg, #6d4747, transparent);
  border-radius: 15px;
  padding: 0.5em;
  transition: all 1s;
}
.networkList li:hover {
  transform: scale(1.15);
}
.networkList li a {
  display: flex;
  gap: 0.6em;
  color: #000;
}
.networkList li img {
  width: 30px;
  color: #fff;
}

@keyframes waiting {
  0% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
  90% {
    color: whitesmoke;
    text-shadow: none;
  }
  100% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
}
/*loader*/
@keyframes loading {
  0% {
    opacity: 1;
    z-index: 2;
  }
  90% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
/*lettres loader*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*ouverture menu*/
@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*apparition elements des sections*/
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
/*ou apparition avec translateY*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Animation pour simuler la frappe du texte */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* Animation pour faire clignoter le curseur */
@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.loader {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8588235294);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
  animation: loading 5s linear;
  width: 100%;
}
.loader .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 50%;
}
.loader .word {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  transform: translateY(-20px);
  animation: fadeIn 4s ease-in-out forwards;
}
.loader .word-1 {
  animation-delay: 1.5s;
}
.loader .word-2 {
  animation-delay: 3s;
}
.loader .word-3 {
  animation-delay: 4.5s;
}
.loader .word-4 {
  animation-delay: 6s;
}
.loader .word .letter {
  color: white;
  font-size: 4em;
  letter-spacing: 0.1em;
  opacity: 0;
  animation: loading 6s linear;
}

@keyframes waiting {
  0% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
  90% {
    color: whitesmoke;
    text-shadow: none;
  }
  100% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
}
/*loader*/
@keyframes loading {
  0% {
    opacity: 1;
    z-index: 2;
  }
  90% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
/*lettres loader*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*ouverture menu*/
@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*apparition elements des sections*/
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
/*ou apparition avec translateY*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Animation pour simuler la frappe du texte */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* Animation pour faire clignoter le curseur */
@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@media screen and (max-width: 900px) {
  body {
    min-width: 380px;
  }
  .index {
    z-index: 0;
  }
  /*barre de navigation*/
  .navbar {
    gap: 3em;
  }
  .navbar .logo {
    width: 40%;
    padding: 0.5em;
  }
  /*menu responsive*/
  .mobVbox {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 160px;
    padding: 1em 0;
  }
  .mobVbox .logo {
    padding-left: 1.5em;
  }
  .mobVbox .logo img {
    height: 70px;
  }
  .mobVbox .mobV,
  .mobVbox .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
  }
  .mobVbox .mobV {
    border-radius: 10px !important;
    gap: 1em;
    margin-right: 1.5em;
    background: rgb(240, 240, 240);
    z-index: 1;
    position: fixed;
    top: 15px;
    right: 0;
    transition: all 2s;
    animation-delay: 1s;
  }
  .mobVbox .mobV button {
    width: 80px;
    height: 70px;
  }
  .mobVbox .mobV button:active .mobV .link div {
    padding: 2em;
  }
  .mobVbox .mobV button .fa-bars {
    font-size: 5em;
    color: #a59b8d;
  }
  .mobVbox .mobV .mobNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    transition: all 2s;
    height: 0%;
    animation: slideOut 0.5s ease-in-out;
  }
  .mobVbox .mobV .mobNav a div {
    padding: 0;
  }
  .cardsContainer {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 120px 120px 120px;
    gap: 1em;
    justify-content: center;
  }
  .cardsContainer article {
    width: 100% !important;
  }
  .tools-container {
    grid-template-columns: 130px 130px 130px !important;
    overflow-x: scroll;
  }
  #contact_form article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact_form article .formInfo,
  #contact_form article form {
    min-width: 315px;
    width: 80%;
  }
  #contact_form article .formInfo {
    align-self: center !important;
  }
}
@media screen and (max-width: 700px) {
  .tools-container {
    grid-template-columns: 130px 130px !important;
    grid-template-rows: 130px 130px !important;
    gap: 1em !important;
    overflow: scroll;
  }
}/*# sourceMappingURL=App.css.map */