* {
  text-decoration: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}

body {
  box-sizing: border-box;
  min-width: 590px;
  margin: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.index {
  padding: 0 4em;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0 0 0;
}
header .logo {
  width: 10%;
  padding-left: 5em;
}
header nav {
  display: flex;
  justify-content: space-between;
  gap: 3.5em;
  padding-right: 5em;
}
header nav .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .link:active {
  text-decoration: underline;
  color: #000000;
}
header nav .link:hover {
  text-decoration: underline;
  color: #000000;
}
header nav .link div {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-wrap: nowrap;
  padding: 1em 0 0 0;
  font-size: 1.5em;
}
header nav a.active {
  text-decoration: underline;
  color: #000000;
}

.banner {
  position: relative;
  min-height: 180px;
  height: 230px;
  border-radius: 25px;
  width: 100%;
  min-width: 516px;
  display: grid;
  place-items: center;
  background-image: url("/src/assets/images/banner/Image1.png");
  background-position: right;
  background-size: cover;
}
.banner::before {
  position: absolute;
  border-radius: 25px;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.banner .bannerText {
  z-index: 1;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2em;
  color: #FFFFFF;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  row-gap: 3em;
  box-sizing: border-box;
  width: 100%;
  background: #F6F6F6;
  border-radius: 25px;
  padding: 3em 1em;
}
.cardsContainer article {
  width: 27%;
  max-width: 700px;
  height: 350px;
}
.cardsContainer article .cardLink {
  display: flex;
  width: 100%;
  border-radius: 10px;
}
.cardsContainer article .cardLink .card {
  overflow: hidden;
  width: 100%;
}
.cardsContainer article .cardLink .card .cardImg {
  height: 350px;
  border-radius: 10px;
}
.cardsContainer article .cardLink .card .cardTitle {
  position: relative;
  width: 80%;
  height: 54px;
  bottom: 4em;
  left: 1.3em;
  font-family: Montserrat;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10em;
  background: #000000;
  gap: 1em;
}
.footer .footerLogo {
  width: 100px;
}
.footer .footerCopyRights {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 1em;
}

.errorPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 6em 0;
}
.errorPageContainer img {
  width: 50%;
}
.errorPageContainer p,
.errorPageContainer .errorLineHomeLink {
  font-weight: 500;
}
.errorPageContainer p {
  color: #FF6060;
  font-size: 2.5em;
  font-family: "Montserrat";
  text-align: center;
}
.errorPageContainer .errorLineHomeLink {
  font-size: 1.2em;
  text-decoration: underline;
  color: #000000;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.aboutContent .banner {
  background-image: url("/src/assets/images/banner/Image2.png");
  width: 100%;
}
.aboutContent .banner h1 {
  color: transparent;
}
.aboutContent .collapses {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.aboutContent .collapses .collapseContent {
  width: 100%;
}

.infoBanner,
.infoBanner,
.infoContent,
.infoBanner .titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ficheContent {
  width: 90%;
  gap: 1.2em;
}
.ficheContent .infoBanner {
  height: 550px;
  position: relative;
  border-radius: 25px;
  width: 100%;
}
.ficheContent .infoBanner img {
  position: absolute;
  height: 100%;
  border-radius: 25px;
  z-index: -1;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.ficheContent .infoBanner img.currentImg {
  opacity: 1;
}
.ficheContent .infoBanner .arrow {
  position: absolute;
  -webkit-background-clip: text;
          background-clip: text;
  background: transparent;
  color: #ffffff;
  font-size: 3.5em;
  border: none;
  cursor: pointer;
}
.ficheContent .infoBanner .arrowLeft {
  left: 10px;
}
.ficheContent .infoBanner .arrowRight {
  right: 10px;
}
.ficheContent .infoBanner .imgCount {
  font-weight: 500;
  font-size: 1.5em;
  color: #FFFFFF;
  position: absolute;
  bottom: 40px;
  font-family: "Montserrat";
}
.ficheContent .infoContent {
  width: 100%;
  gap: 1em;
  padding: 0;
}
.ficheContent .infoContent .infoHeader {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  gap: 3em;
}
.ficheContent .infoContent .infoHeader .titleContent {
  width: 100%;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.ficheContent .infoContent .infoHeader .titleContent .titles {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding-top: 1.5em;
}
.ficheContent .infoContent .infoHeader .titleContent .titles h1 {
  font-size: 2.3em;
  line-height: 35.34px;
  color: #ff6060;
  margin: 0;
  font-weight: 500;
}
.ficheContent .infoContent .infoHeader .titleContent .titles p {
  font-size: 18px;
  margin: 0;
}
.ficheContent .infoContent .infoHeader .titleContent .tags {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.ficheContent .infoContent .infoHeader .titleContent .tags .tag {
  background: #ff6060;
  border-radius: 7px;
  font-size: 0.8em;
  font-family: Montserrat;
  font-weight: 700;
  color: #ffffff;
  padding: 0.5em 2.2em 0.4em 2.2em;
}
.ficheContent .infoContent .infoHeader .userContent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  gap: 1.1em;
}
.ficheContent .infoContent .infoHeader .userContent .userInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.9em;
  width: 100%;
}
.ficheContent .infoContent .infoHeader .userContent .userInfo .userName {
  color: #ff6060;
  font-family: "Montserrat";
  font-size: 25px;
  text-wrap: wrap;
  width: 120px;
  font-weight: 500;
}
.ficheContent .infoContent .infoHeader .userContent .userInfo .userPic {
  border-radius: 100%;
  background-position: center;
}
.ficheContent .infoContent .infoHeader .userContent .userInfo .userPic img {
  border-radius: 100%;
  min-height: 15px;
  min-width: 20%;
  max-width: 110px;
}
.ficheContent .infoContent .infoHeader .userContent .rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.ficheContent .infoContent .infoHeader .userContent .rating .ratingContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ficheContent .infoContent .details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3em;
}

@keyframes slideOut {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.collapses,
.under {
  width: 100%;
}

.collapseContent {
  box-sizing: border-box;
  width: 45%;
  overflow: hidden;
}
.collapseContent .collapseTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 1em;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 0.7em;
  color: #ffffff;
}
.collapseContent .collapseTitle .slideDown {
  position: relative;
  right: 3em;
  display: flex;
  justify-content: start;
  align-items: center;
}
.collapseContent .collapseTitle .slideDown i {
  font-size: 2.2em;
  position: absolute;
  cursor: pointer;
}
.collapseContent .descrip {
  padding: 20px;
  background: #f6f6f6;
  position: relative;
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  top: -0.3rem;
  z-index: -1;
  animation: slideOut 0.5s ease-in-out;
}
.collapseContent .descrip .descripContent {
  overflow-wrap: break-word;
  font-size: 1.4em;
  font-weight: 500;
  width: 90%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.collapseContent .descrip .descripContent ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 20px;
}

@media screen and (max-width: 900px) {
  /*barre de navigation*/
  .navbar {
    gap: 3em;
  }
  .navbar .logo {
    width: 40%;
  }
  .navbar .navigation {
    gap: 2em;
  }
  .navbar .navigation .link {
    font-size: 1.2em;
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
  }
  .cardsContainer article,
  .cardsContainer .card {
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0 -2em -1em -2em;
  }
  .footer .footerLogo {
    width: 22%;
  }
  .footer .footerCopyRights {
    width: 160px;
    font-size: 1.1em;
    text-wrap: wrap;
  }
  /****Page 404****/
  .errorPageContainer img {
    width: 50%;
  }
  .errorPageContainer p {
    font-size: 2em;
    text-wrap: wrap;
    padding: 3em 6em;
  }
  /*****fiche logement******/
  .infoHeader,
  .details {
    flex-direction: column;
    gap: 0 !important;
  }
  .infoHeader .titleContent {
    gap: 1em;
  }
  .infoHeader .titleContent .titles h1 {
    padding-bottom: 0.2em;
    font-size: 2.8em !important;
    line-height: 55.34px !important;
  }
  .infoHeader .titleContent .titles p {
    font-size: 28px !important;
  }
  .infoHeader .titleContent .tags {
    width: 100%;
  }
  .infoHeader .userContent {
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .infoHeader .userContent .userPic {
    width: 24% !important;
  }
  .infoHeader .userContent .rating {
    justify-content: flex-start !important;
  }
  .details {
    flex-direction: column !important;
    gap: 2em !important;
  }
  .details .collapseContent {
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */